{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center bg-image">
  <h1 style="color:white">About </h1>
  <p style="color:white">we are here to help you</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-11">
      <h3>Health Care system</h3>
      <p>Health is essential for everyone. Health cannot be bought from anything or anywhere. Health is important no matter what country we are from, what race we are, what age or which gender we are. Some important details like the patients allergy and medical history will be overlooked by the doctors when they diagnosing. The procedure for diagnosing also consumes a large amount of time.Although the patients come across with a minor problem that can be cured by them, if they have right help and right suggestion. This project deliberates about the Web-Based Online Medical Diagnosis system and Availability of medicines.These systems mainly focus on four main parts that comprise of Patient’s Diagnosis, Treatment, Health Monitor Tips and Availability of medicines..</p>
      <p>If the disease was not cured with in the limited time, this project helps to search nearest hospitals and also suggest the patients to find better hospital based on patient’s disease symptoms
      We suggest a better hospital to the patients based on working of doctor’s, operation’s, success rate of hospital, cleanness, patient’s feedback  
      </p>
    </div>
    
</div>
{% endblock %}

