<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health care system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="icon" href="/static/imgs/lo.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/styles.css">
  
<!--   <script src="/static/scripts/jquery-3.3.1.slim.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script> -->
  <!-- <script src="/static/scripts/popper.min.js"></script> -->
  <!-- <script src="/static/scripts/getloaction.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

 </head>

 
<body>
    

	<header>
		{%  include 'home.html'  %}
	</header>

  <div>
    {% with messages= get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ message }}</strong> 
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>

	<div id="content">
		{% block content %}

		{% endblock %}
	</div>
</body>
</html>	