{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2><I>HELP</I></h2>
  <p> Here we provided some gov-website links and help-ine numbers </p>
  <table class="table">
    <thead>
      <tr>
        <th>HELPLINE NUMBERS & LINKS</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INDIAN HELPLINE NUMBERS</td>
        <td>          </td>
        <td><a href="http://indianhelpline.com/">CLICK ME</a></td>
      </tr>      
      <tr class="success">
        <td>INDIAN GOV NATIONAL PORTAL</td>
        <td>          </td>
        <td><a href="https://www.india.gov.in/spotlight/ayushman-bharat-national-health-protection-mission">CLICK ME</a></td>
      </tr>
      <tr class="active">
        <td>MINISTERY OF HEALTH AND FAMILY  WELFARES</td>
        <td>        </td>
        <td><a href="https://mohfw.gov.in/">CLICK ME</a></td>
      </tr>
    </tbody>
  </table>
</div>




{% endblock %}
