<!-- <div class=" col-lg-14  bg-image  one "> -->

<div class="col-sm-18  bg-image one">
  <div class="btn-toolbar text-center ">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item btn-sm col-xs-1000 margin-left mt-0">



        <a class="nav-link active" href="{{ url_for('showDiseases') }}"><button type="button" class="btn btn-primary btn-lg btn-block"><h5>Mini-Doctor</h5></button></a>
      </li>

    
</br>
</br>
</br>
</br>
</br>
</br>
      <li class="nav-item btn-sm col-xs-1000 margin-left  mt-0 ">
        <a class="nav-link" href="{{ url_for('Search') }}"><button type="button" class="btn btn-primary btn-lg btn-block"> <h5>Search Medicine</h5></button></a>
      </li>
    
</br>
</br>
</br>
</br>
</br>
</br>

      <li class="nav-item btn-sm col-xs-1000 margin-left ">
        <a class="nav-link" href="{{ url_for('Hospital') }}"><button type="button" class="btn btn-primary btn-lg btn-block"><h5>Search Hospital</h5></button></a>
      </li>
</br>
</br>
</br>
</br>
</br>
</br>

      <li class="nav-item btn-sm col-xs-1000 margin-left ">
        <a class="nav-link" href="{{ url_for('showAyurvedic') }}"><button type="button" class="btn btn-primary btn-lg btn-block"><h5>Ayurvedic</h5></button></a>
      </li>
</br>
</br>
</br>
</br>
</br>
</br>

      <li class="nav-item btn-sm col-xs-1000 margin-left">
        <a class="nav-link" href="http://localhost:5000/" target="_tab"><button type="button" class="btn btn-primary btn-sm btn-block"><h5>Blood Bank</h5></button></a>
      </li>
</br>
</br>
</br>
</br>
</br>
</br>

      <!-- </br>
      <li class="nav-item ">
        <a class="nav-link" href="#"><h4>Search</h4></a>
      </li>

      </br>
      <li class="nav-item ">
        <a class="nav-link" href="#"><h4>life style</h4></a>
      </li>

      </br>
      <li class="nav-item ">
        <a class="nav-link" href="#"><h4>Diet</h4></a>
      </li> -->
     </ul>
</div>
</div>
